@import '../../design-tokens/scss-variables';

.section-text {
	font-size: $font-size-5;
	font-weight: 400;
	text-align: center;
	line-height: 1.5;
	margin-bottom: $spacer-5 * 2;

	@media (min-width: 768px) {
		font-size: $font-size-6;
	}
}

.about-text,
.technologies-text,
.work-text {
	color: $color-dark-black;
}
