@import '../../design-tokens/scss-variables';

.section-text {
	text-align: center;
	line-height: 1.75;

	@media (min-width: 768px) {
		font-size: $font-size-6;
	}
}

.about-text,
.technologies-text,
.work-text {
	color: $color-dark-black;
}

.about-text {
	@media (min-width: 992px) {
		text-align: unset;
	}
}

.technologies-text {
	margin-bottom: $spacer-7 * 2;
}
