@import '../../design-tokens/scss-variables';

.section-text {
	text-align: center;
	line-height: 1.5;

	@media (min-width: 768px) {
		font-size: $font-size-6;
	}
}

.about-text,
.technologies-text,
.work-text {
	color: $color-dark-black;
}

.about-text,
.work-text,
.contact-text {
	&:not(:last-child) {
		margin-bottom: $spacer-7;
	}

	&:last-child {
		margin-bottom: $spacer-5 * 2;
	}
}

.about-text {
	&:last-child {
		@media (min-width: 992px) {
			margin-bottom: 0;
		}
	}

	@media (min-width: 992px) {
		text-align: unset;
	}
}

.technologies-text {
	margin-bottom: $spacer-5 * 2;
}
