@import '../../../design-tokens/scss-variables';

#work {
	background-color: $color-white;
	padding: $spacer-5 * 4 0;

	.project-list {
		.project-item {
			&:not(:last-child) {
				margin-bottom: $spacer-5 * 5;
			}
		}
	}
}
