@import '../../design-tokens/scss-variables';

.hero-heading {
	font-family: 'Inter';
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $spacer-5 * 2;

	&-top {
		font-size: $font-size-7 * 4;
		line-height: 0.8;
		margin-bottom: -8px;

		@media (min-width: 375px) {
			font-size: $font-size-7 * 5.2;
		}

		@media (min-width: 576px) {
			font-size: $font-size-7 * 6.4;
		}

		@media (min-width: 768px) {
			font-size: $font-size-7 * 8;
		}

		@media (min-width: 1200px) {
			font-size: $font-size-7 * 9;
		}
	}

	&-bottom {
		font-size: $font-size-7 * 1.8;
		letter-spacing: 0.88px;

		@media (min-width: 375px) {
			font-size: $font-size-7 * 2.4;
			letter-spacing: 0.36px;
		}

		@media (min-width: 576px) {
			font-size: $font-size-7 * 3;
			letter-spacing: -0.22px;
		}

		@media (min-width: 768px) {
			font-size: $font-size-7 * 3.7;
			letter-spacing: 0.36px;
		}

		@media (min-width: 1200px) {
			font-size: $font-size-7 * 4.1;
			letter-spacing: 1.32px;
		}
	}
}
