@import '../../design-tokens/scss-variables';

.navbar-menu {
	width: 80vw;
	height: 100vh;
	background-color: $color-light-black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $spacer-4;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: -80vw;
	transition: all 0.2s ease;

	&.open {
		right: 0;
		box-shadow: 0px 4px 14px 1px rgba($color-dark-black, 0.6);
	}

	// Mobile Landscape
	@media (max-width: 768px) and (max-height: 540px) {
		width: 100vw;
	}
}

.scroll-disabled {
	overflow: hidden;
}

.page-blur {
	filter: blur(5px) brightness(0.8);
	transition: all 0.2s ease;
}
