// Colors
$color-dark-black: #101010;
$color-light-black: #131313;
$color-dark-grey: #939597;
$color-light-grey: #e8e8e8;
$color-white: #f2f2f2;
$color-pink: #ff007f;
$color-red: #ff004f;

// Font Size
$font-size-1: 1rem; // 10px
$font-size-2: 1.2rem; // 12px
$font-size-3: 1.3rem; // 13px
$font-size-4: 1.4rem; // 14px
$font-size-5: 1.6rem; // 16px
$font-size-6: 1.8rem; // 18px
$font-size-7: 2rem; // 20px

// Heading/Subheading Size
$heading-size-1: 2.4rem; // 24px
$heading-size-2: 2.8rem; // 28px
$heading-size-3: 3.2rem; // 32px
$heading-size-4: 3.6rem; // 36px
$heading-size-5: 4rem; // 40px
$heading-size-6: 4.4rem; // 44px
$heading-size-7: 4.8rem; // 48px
$heading-size-8: 5.2rem; // 52px

// Icon Size
$icon-size-1: 1.4rem; // 14px
$icon-size-2: 1.6rem; // 16px
$icon-size-3: 1.8rem; // 18px
$icon-size-4: 2rem; // 20px
$icon-size-5: 2.2rem; // 22px
$icon-size-6: 2.4rem; // 24px
$icon-size-7: 2.6rem; // 26px

// Spacing
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 12px;
$spacer-4: 16px;
$spacer-5: 20px;
$spacer-6: 24px;
$spacer-7: 28px;
$spacer-8: 32px;
