@import '../../design-tokens/scss-variables';

.button-link {
	transition: all 0.3s ease;
}

.primary,
.secondary {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	line-height: normal;
	padding: $spacer-4 $spacer-8;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		box-shadow: 0 0 0 0.4rem $color-green;
	}
}

.primary {
	color: $color-white;
	background-color: $color-dark-black;
	border: 1px solid $color-dark-black;

	&:hover {
		color: $color-dark-black;
		background-color: $color-white;
	}
}

.secondary {
	color: $color-dark-black;
	background-color: $color-white;
	border: 1px solid $color-dark-black;

	&:hover {
		color: $color-white;
		background-color: $color-dark-black;
	}
}

.tertiary {
	color: $color-white;
	text-underline-offset: $spacer-1;

	&:hover,
	&:focus-visible {
		color: $color-green;
		text-decoration-color: $color-green;
	}

	&:focus {
		outline: none;
	}
}
