@import '../../design-tokens/scss-variables';

.wrapper {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 $spacer-5;
	box-sizing: border-box;

	@media (min-width: 480px) {
		padding: 0 $spacer-6 * 2;
	}

	@media (min-width: 576px) {
		padding: 0 $spacer-6 * 3;
	}

	@media (min-width: 768px) {
		padding: 0 $spacer-6 * 4;
	}

	@media (min-width: 992px) {
		padding: 0 $spacer-6 * 5;
	}
}
