@import '../../design-tokens/scss-variables';

.modal-overlay {
	background-color: rgba($color-dark-black, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacer-5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.modal {
		width: 100%;
		max-width: 600px;
		background-color: $color-light-black;
		padding: $spacer-5 * 2 $spacer-6;
		box-sizing: border-box;
		border: 4px solid $color-light-grey;
		border-radius: 12px;
		position: relative;

		&-close-button {
			font-size: $font-size-7;
			color: $color-dark-grey;
			background-color: transparent;
			display: flex;
			padding: $spacer-1;
			border: none;
			position: absolute;
			top: 4px;
			right: 4px;
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: $color-white;
			}

			&:focus {
				outline: none;
				border-radius: 4px;
				box-shadow: 0 0 0 0.4rem rgba($color-white, 0.4);
			}
		}
	}
}

.scroll-disabled {
	overflow: hidden;
}
