@import '../../design-tokens/scss-variables';

.button-submit {
	font-family: 'Proxima Nova';
	font-size: $font-size-5;
	font-weight: 500;
	color: $color-white;
	text-transform: uppercase;
	background-color: $color-dark-black;
	display: flex;
	align-items: center;
	padding: $spacer-4 $spacer-8;
	border: 1px solid $color-white;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover,
	&:focus-visible {
		color: $color-dark-black;
		background-color: $color-green;
		border-color: $color-green;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		box-shadow: 0 0 0 0.4rem $color-white;
	}

	&:disabled {
		opacity: 0.7;
	}

	.loader {
		width: 16px;
		height: 16px;
		margin-right: $spacer-4;
		display: inline-block;
		border-radius: 50%;
		border-top: 3px solid $color-dark-black;
		border-right: 3px solid transparent;
		box-sizing: border-box;
		animation: spinner 1s linear infinite;
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
