@import '../../design-tokens/fonts';
@import '../../design-tokens/scss-variables';

.navbar-links-list {
	display: flex;
	flex-direction: column;
	gap: $spacer-6;
	margin-bottom: $spacer-6 * 4;

	// Mobile Landscape
	@media (max-width: 768px) and (max-height: 480px) {
		margin: $spacer-5 0 $spacer-5 * 2;
	}

	@media (min-width: 1024px) {
		flex-direction: row;
		gap: $spacer-9;
		margin-bottom: unset;
	}

	.navbar-links-item {
		display: flex;
		justify-content: center;
	}

	.navbar-links-link {
		font-family: 'Montserrat';
		font-size: $font-size-7;
		color: $color-white;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: underline;
		text-decoration-color: transparent;
		text-underline-offset: $spacer-1;
		transition: color 0.3s ease, text-decoration-color 0.3s ease;

		&.active {
			text-decoration-color: $color-green;

			&:focus-visible {
				box-shadow: none;
			}
		}

		&:hover,
		&:focus-visible {
			text-decoration-color: $color-green;
		}

		&:focus {
			outline: none;
		}

		@media (min-width: 1024px) {
			font-size: $font-size-4;
			text-decoration-thickness: 1.5px;
			position: relative;

			&.active {
				&:hover {
					color: $color-light-grey;
				}
			}

			&:hover {
				color: $color-light-grey;
			}
		}
	}
}
