@import '../../design-tokens/fonts';
@import '../../design-tokens/scss-variables';

.navbar-links-list {
	margin-bottom: $spacer-6 * 4;

	@media (min-width: 768px) {
		display: flex;
		margin-bottom: unset;
	}

	.navbar-links-item {
		display: flex;
		justify-content: center;
		margin: $spacer-6 0;

		&:first-child {
			margin-top: 0;

			@media (min-width: 768px) {
				margin-top: unset;
				margin-left: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;

			@media (min-width: 768px) {
				margin-top: unset;
				margin-right: 0;
			}
		}

		@media (min-width: 768px) {
			margin: 0 $spacer-4;
		}
	}

	.navbar-links-link {
		font-family: 'Montserrat';
		font-size: $font-size-7;
		color: $color-white;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		padding: $spacer-1;
		transition: color 0.3s ease;

		&.active {
			font-weight: 900;

			@media (min-width: 768px) {
				font-weight: 600;
			}
		}

		&:hover {
			color: $color-dark-grey;
		}

		&:focus {
			outline: none;
			border-radius: 4px;
			box-shadow: 0 0 0 0.4rem rgba($color-white, 0.4);
		}

		@media (min-width: 768px) {
			font-size: $font-size-4;
			font-weight: unset;
			color: $color-dark-black;
			position: relative;

			&::after {
				height: 0;
				content: attr(title);
				font-weight: 600;
				display: block;
				margin-top: -1px;
				overflow: hidden;
				visibility: hidden;
			}

			&:hover {
				color: $color-dark-black;
				font-weight: 600;
			}

			&:focus {
				outline: none;
				border-radius: 4px;
				box-shadow: 0 0 0 0.4rem rgba($color-dark-black, 0.4);
			}
		}
	}
}
