@import '../../design-tokens/scss-variables';

.footer {
	background-color: $color-dark-grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $spacer-7 $spacer-6;

	&-link {
		font-family: 'Montserrat';
		font-size: $font-size-4;
		color: $color-white;
		font-weight: 500;
		text-align: center;
		line-height: 1.25;
		margin-bottom: calc($spacer-5 * 2);
		padding: $spacer-1;
		text-underline-offset: $spacer-1;
		transition: all 0.3s ease;

		&:hover,
		&:focus-visible {
			color: $color-green;
			text-decoration-color: $color-green;
		}

		&:focus {
			outline: none;
		}
	}

	&-copyright {
		font-size: $font-size-4;
		color: $color-medium-grey;
		text-align: center;
		line-height: 1.25;
	}
}
