@import '../../design-tokens/scss-variables';

.social-links-list {
	display: flex;
	gap: $spacer-6;

	.social-links-link {
		color: $color-medium-grey;
		display: flex;
		padding: $spacer-1;
		transition: all 0.3s ease;

		&:hover {
			color: $color-white;
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			color: $color-white;
			box-shadow: 0 0 0 0.2rem $color-green;
		}
	}
}

.navbar-menu-social {
	.social-links-link {
		font-size: $icon-size-6;
	}
}

.footer-social {
	margin-bottom: $spacer-5 * 2;

	@media (min-width: 992px) {
		margin-bottom: $spacer-8;
	}

	.social-links-link {
		font-size: $icon-size-7;
	}
}
