@import '../../design-tokens/scss-variables';

.hero-text-list {
	.hero-text-item {
		font-size: $font-size-6;
		color: $color-light-grey;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: $spacer-2;
		}
	}
}
