@import '../../design-tokens/scss-variables';

.technology-logos-list {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: $spacer-10;

	@media (min-width: 375px) {
		max-width: 260px;
		margin: 0 auto;
	}

	@media (min-width: 576px) {
		max-width: 480px;
	}

	@media (min-width: 768px) {
		max-width: 576px;
	}

	@media (min-width: 992px) {
		max-width: 739px;
	}

	.technology-logos-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.technology-logos-logo {
		font-size: $icon-size-4 * 3;
		color: $color-dark-black;
		margin-bottom: $spacer-2;
		display: flex;
		opacity: 0.9;

		@media (min-width: 375px) {
			font-size: $icon-size-4 * 4;
		}
	}

	.technology-logos-name {
		font-size: $font-size-4;
		font-weight: 400;
		color: $color-dark-black;

		@media (min-width: 768px) {
			font-size: $font-size-5;
		}
	}
}
