@import '../../design-tokens/scss-variables';

.navbar-menu-button {
	width: 32px;
	height: 28px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: $spacer-1;
	border: none;
	position: relative;
	z-index: 100;
	cursor: pointer;

	&.active {
		&:focus {
			width: 29px;
			padding: $spacer-1 $spacer-1 $spacer-1 calc($spacer-1 - 3px);
			outline: none;
			border-radius: 4px;
			box-shadow: 0 0 0 0.4rem rgba($color-white, 0.4);
		}
	}

	&:focus {
		outline: none;
		border-radius: 4px;
		box-shadow: 0 0 0 0.4rem rgba($color-dark-black, 0.4);
	}

	.line {
		width: 100%;
		height: 3px;
		background-color: $color-dark-black;

		&.active {
			background-color: $color-white;
		}
	}

	.line-1,
	.line-3 {
		transition: transform 0.2s ease, background-color 0.2s ease;
	}

	.line-1 {
		&.active {
			transform: rotate(-45deg) translate(-5px, 7px);
		}
	}

	.line-2 {
		transition: opacity 0.2s ease;

		&.active {
			visibility: hidden;
			opacity: 0;
		}
	}

	.line-3 {
		&.active {
			transform: rotate(45deg) translate(-5px, -7px);
		}
	}
}
